# Break

In [1]:
list_1=[10,20,30,40,50,60]
#print only the first value of the list which is greater than 30

In [2]:
for i in list_1:
    if i>30:
        print(i)
        break

40

In [3]:
list_2=[10,20,30,80,50,40,70]
##to find thge position as well as value of the first number which is divisible by 40

In [7]:
position=0 #index
for i in list_2:
    if (i%40==0):
        print("position",position)
        print("value",i)
        break
    position+=1

position 3
value 80

In [8]:
list_3=[10,20,35,40,55,87,60,89,80]
#print the first 2 values divisble by 20

In [10]:
count=0
for i in list_3:
    if (i%20==0):
        print("value",i)
        count+=1
    if (count==2):
        break

value 20
value 40

# continue statements

In [12]:
#we want to print all the numbers from 1 to 10
#except for those numbers which are divisible by 4
""" 1
    2
    3
    5
    6
    7
    9
    10 """

' 1\n    2\n    3\n    5\n    6\n    7\n    9\n    10 '

In [16]:
for i in range(1,11):
    if (i%4==0):
        continue 
    else:
        print(i)

1
2
3
5
6
7
9
10

In [17]:
#print alphabets of your name
#stop printing if "e","i or "u" comes
#dont print alphabets "a" and "o" if they comes

In [19]:
name="shakti singh"
for i in name:
    if (i=="a" or i=="o"):
        continue
    elif(i=="e" or i=="i" or i=="u"):
        break
    else:
        print(i)

s
h
k
t

In [22]:
num=3756
i=0
count=0
while True:
#print only the first 3 numbers which are divisble by num.
    i+=1
    if(i%num==0):
        print(i)
        count+=1
    if (count==3):
        break

3756
7512
11268