# Flow control statements

## If statement

In [ ]:
a=30
b=25
## print the larger value

In [ ]:
if (a>b):
    print('the larger value is :',a)
else:

    print('the larger value is :',b)

In [ ]:
a=70
b=60
c=68

## which is the maxmimum value

In [ ]:
if (a>b) and (a>c):
    print('a is the largest')
elif (b>a) and (b>c):
    print('b is the largest')
else:
    print('c is the largest')

In [6]:
## give grades to the student based on their marks 

## >60 -- 'A'
## >50 --  'B'
## >40 -- 'C'
## <40 -- 'F'

## marks - 22

In [7]:
m =22 

if (m>60):
    print('A')
if (m>50):
    print('B')
if (m>40):
    print('C')
else:
    print('F')

F

In [8]:
## if we do the same ques in decreasing mode 

if m<40:
    print('F')
elif(m<50):
    print('C')
elif(m<40):
    print('B')
else:
    print('A')

F

In [9]:
## Maths Science Grades 
## >70   >70      'A'
## >70   <70      'M'
## <70   >70      'S'
## <70   <70      'F'

In [10]:
m=45
s=52

if (m>70) and (s>70):
    print('A')
elif (m>70) and (s<70): 
    print('M')
elif (m<70) and (s>70):
    print('S')
else:
    print('F')

F

In [11]:
## if we solve it through one situation 
if m>70:
    if s>70:
        print('A')
    else:
        print('M')
else:
    if s>70:
        print('S')
    else:
        print('F')

F

In [12]:
a= [10,35,22,17,41]

## check whetehr first element is 10 or not. if it is then change it to 100, or else 50

In [13]:
print('original list is:',a)
if a[0]==10:
    print('first element is 10 so changing it to 100')
    a[0]=100
else:
    print('first element is not 10, so changing it to 50')
    a[0]=50
    
print('updated list is:',a)

original list is: [10, 35, 22, 17, 41]
first element is 10 so changing it to 100
updated list is: [100, 35, 22, 17, 41]

## While loop

In [14]:
# It is used to perform

In [15]:
a = 1 

while (a<=5):
    print('anshul')
    a+=1

anshul
anshul
anshul
anshul
anshul

In [16]:
a=5
b=12

## print the value of a until it is less than b 

# also keep on incrementing the value of a by 2

In [17]:
while (a<b):
    print(a)
    a+=2

5
7
9
11

In [18]:
# print the sq of no. from no. 1 to 10 
 
a=1
while (a<=10):
    print(a*a)
    a=a+1

1
4
9
16
25
36
49
64
81
100

In [19]:
## keep on printing the values till the square of values is <500

a=1 
while (a**2<=500):
      print(a**2)
      a=a+1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484

In [ ]:
a=1
import time 
while(a**2):
    a=a+1
    end_time=time.time()

print ('Time taken:',end_time-start_time)

In [2]:
## print the table of 7 using while loop

a=7
i=1
while (i<=10):
    print(a,"*",i,"=",a*i)
    i=i+1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [4]:
## print the alphabets of our name 

a='shakti'
i=0

while (i<len(a)):
      print(a[i])
      i+=1

s
h
a
k
t
i

## For loop

In [5]:
## print the alphabets of our name 

a= 'shakti'
for p in a:
    print(p)

s
h
a
k
t
i

In [6]:
## list 

sample_list = [10,20,30,40,50]

## using for loop, print the first three elements 



for i in sample_list[0:3]:
    print(i)

10
20
30

In [7]:
## using for loop, print the last five elements 
sample_list = [10,20,30,40,50,60,70,80,90,100]

for i in sample_list[-5:]:
    print(i)

60
70
80
90
100

In [8]:
## print those elements of list that are >30
sample_list = [10,20,30,40,50,25,35,90]

for i in sample_list:
    if (i>30):
        print(i)

40
50
35
90

In [9]:
a= [10,20,30,40,50,'',60,70]

## update the list 
## replace 20 by 200
## and '' by 'ABC'

index_num = 0 

for i in a:
    if (i==20):
        a[index_num]=200
    elif (i==''):
        a[index_num]='ABC'
    index_num = index_num + 1 

print(a)

[10, 200, 30, 40, 50, 'ABC', 60, 70]

## Range function

In [10]:
## only takes integer a input 
## returns a list

In [11]:
range(5)

## range(n) where n is an integer 
## Return a list of values ranging from 0 to n-1

range(0, 5)

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
##range(a,b)

##a to b-1

for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [14]:
## range(a,b,c)
## jump to the size of c 


## range(1,5,2)
##1
##3

for i in range(1,5,2):
    print(i)

1
3

In [15]:
## print all the odd numbers between 7 to 24 

for i in range(7,24,2):
    print(i)

7
9
11
13
15
17
19
21
23

In [28]:
## find the sum of all the numbers divisible by 3 or 5 
## lying between 0 to 20 


sum=0
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
len=len(list)
for i in list:
    if list[i]/3 and list[i]/5:
        sum=sum+list[i]
print(sum)

IndexError: list index out of range

In [22]:
#1
##1 2 
## 1 2 3 
## 1 2 3 4 

for i in range(1,5):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [23]:
#1
##1 2 
## 1 2 3 
## 1 2 3 4 

for i in range(1,5):
    for j  in range (1,i+1):
        print(j,end=' ')
    print('')
    
    
## print('') - it allows to to shift to new line

1
1 2
1 2 3
1 2 3 4

In [24]:
#1
## 2 1 
## 3 2 1  
## 4 3 2 1  

for i in range(1,5):
    for j  in range (i,0,-1):
        print(j,end=' ')
    print('')

1
2 1
3 2 1
4 3 2 1