## DATA STRUCTURES IN PYTHON

# Tuples

In [1]:
## created by using parenthesis () and commas ,
## tuple is immutable
## immutable means neither we can add a value in it nor remove.

In [3]:
a =("ravi",20,"priya",30)

In [4]:
type(a)

tuple

In [5]:
print(a)

('ravi', 20, 'priya', 30)

In [6]:
##Indexing is used to access a particular value inside a tuple
## from left indexing begins from 0
## from right indexing begins from 1
## use [] to access the particular value using indexing

In [7]:
a[2]

'priya'

In [8]:
a(2) # this way it will try to call the tuple

TypeError: 'tuple' object is not callable

In [9]:
a[-2]

'priya'

# List data structure

In [10]:
## created by using [] and commas,
## lists are mutable

In [11]:
students_ba=["aman","priya","shakti","anshul"]
type(students_ba)

list

In [12]:
students_ba[1]

'priya'

In [13]:
students_ba[2:4]

['shakti', 'anshul']

In [14]:
students_ba[-1:-3]

[]

In [15]:
students_ba[0]="riya" #showing the mutability of lists

In [16]:
print(students_ba)

['riya', 'priya', 'shakti', 'anshul']

In [17]:
students_ba[0]="aman"

In [18]:
print(students_ba)

['aman', 'priya', 'shakti', 'anshul']

In [19]:
##append function is used to add the value in list

In [20]:
students_ba.append(90) #used to add an element inside a list at the last place

In [21]:
print(students_ba)

['aman', 'priya', 'shakti', 'anshul', 90]

In [22]:
students_ba[-1]="shalini"

In [23]:
print(students_ba)

['aman', 'priya', 'shakti', 'anshul', 'shalini']

In [24]:
##insert method is used to add the value at any desired index

In [25]:
students_ba.insert(3,"aryan")
print(students_ba)

['aman', 'priya', 'shakti', 'aryan', 'anshul', 'shalini']

In [26]:
##pop function is used to remove the last element

In [27]:
students_ba.pop()

'shalini'

In [28]:
print(students_ba)

['aman', 'priya', 'shakti', 'aryan', 'anshul']

In [29]:
##remove function is used to remove a particular value from index
students_ba.remove("aryan")
print(students_ba)

['aman', 'priya', 'shakti', 'anshul']

In [30]:
##reverse method is used to reverse the order of the list

In [31]:
students_ba.reverse()
print(students_ba)

['anshul', 'shakti', 'priya', 'aman']

In [32]:
data=[4,8,3,6,9,5]

In [33]:
data.sort() #used for arranging the list 
            #by default sort method is in incresing order

In [34]:
print(data)

[3, 4, 5, 6, 8, 9]

In [35]:
students_ba.sort()
print(students_ba)

['aman', 'anshul', 'priya', 'shakti']

In [36]:
#it arranges the capital first than small at 2nd but it gives caps first pref.

In [37]:
students_ba.sort(reverse=True)
print(students_ba)

['shakti', 'priya', 'anshul', 'aman']

In [38]:
#find the location of value?

In [39]:
students_ba.index("priya")

1

In [40]:
#nested list :-list inside a list

In [41]:
nested_list=[[1,2,3],["a","b","c"],[4.3,5.5,6.4]]
nested_list

[[1, 2, 3], ['a', 'b', 'c'], [4.3, 5.5, 6.4]]

In [42]:
nested_list[2]

[4.3, 5.5, 6.4]

In [43]:
nested_list[0:2]

[[1, 2, 3], ['a', 'b', 'c']]

In [44]:
nested_list[1][2]

'c'

In [45]:
nested_list[2].sort(reverse=True)
nested_list

[[1, 2, 3], ['a', 'b', 'c'], [6.4, 5.5, 4.3]]

In [46]:
nested_list[1].pop()

'c'

In [47]:
nested_list[1].append("c")
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c'], [6.4, 5.5, 4.3]]

In [48]:
nested_list[1].insert(1,"x")
print(nested_list)

[[1, 2, 3], ['a', 'x', 'b', 'c'], [6.4, 5.5, 4.3]]

In [49]:
students_ba

['shakti', 'priya', 'anshul', 'aman']

In [50]:
students_ba.append("kunal")
students_ba.append("shreya")

In [51]:
students_ba

['shakti', 'priya', 'anshul', 'aman', 'kunal', 'shreya']

In [52]:
sliced_list=students_ba[1:3]
sliced_list

['priya', 'anshul']

In [53]:
#slicing is done using colons :
# start index : end index
# start index is included 
# end indedx is excluded

In [54]:
students_ba[:]

['shakti', 'priya', 'anshul', 'aman', 'kunal', 'shreya']

In [55]:
students_ba[2:]

['anshul', 'aman', 'kunal', 'shreya']

In [56]:
students_ba[:3]

['shakti', 'priya', 'anshul']

In [57]:
students_ba[-2:]

['kunal', 'shreya']

In [58]:
students_ba[-3:-2]

['aman']

In [59]:
students_ba[-4:-2]

['anshul', 'aman']

# Dictionary data structure`

In [60]:
## it has key-value pair
## created using {} , :

In [61]:
dict_1={"name":"aman","gender":"male","age":29} #key name should be unique #value can be any type.
dict_1

{'name': 'aman', 'gender': 'male', 'age': 29}

In [62]:
type(dict_1)

dict

In [63]:
dict_1.keys()

dict_keys(['name', 'gender', 'age'])

In [64]:
dict_1.values()

dict_values(['aman', 'male', 29])

In [65]:
#like tuples and list it doesn't have pre-defined index
# that means, in dictionary the user define their own indexes (keys)
#keys should be unique
# keys and values can be of any data types but best practice is to use string as keys

In [66]:
employee={"name":"shakti","gender":"male","age":22,"salary":50000}

In [67]:
employee

{'name': 'shakti', 'gender': 'male', 'age': 22, 'salary': 50000}

In [68]:
employee['name'] #accessing the partiular value using keys

'shakti'

In [69]:
dict_1['age']

29

In [70]:
employee

{'name': 'shakti', 'gender': 'male', 'age': 22, 'salary': 50000}

In [71]:
## remove a key value pair

In [72]:
del dict_1["age"]

In [73]:
dict_1

{'name': 'aman', 'gender': 'male'}

In [74]:
## clear() can be used to delete all the elements from a dictionary

In [75]:
dict_1.clear()

In [76]:
dict_1

{}

In [77]:
dict_1={"name":"aman","gender":"male","age":29}
dict_1

{'name': 'aman', 'gender': 'male', 'age': 29}

In [78]:
#add a new key value pair

In [79]:
dict_1["dept"]="finance"
dict_1

{'name': 'aman', 'gender': 'male', 'age': 29, 'dept': 'finance'}

In [80]:
dict_1["years of experience"]="5"

In [81]:
dict_1

{'name': 'aman',
 'gender': 'male',
 'age': 29,
 'dept': 'finance',
 'years of experience': '5'}

In [82]:
dict_1["age"]=[50,23,56]

In [83]:
dict_1

{'name': 'aman',
 'gender': 'male',
 'age': [50, 23, 56],
 'dept': 'finance',
 'years of experience': '5'}

In [84]:
a=list(dict_1.keys())

In [85]:
type(a)

list

In [86]:
b=list(dict_1.values())

In [87]:
type(b)

list

In [88]:
employee.item

AttributeError: 'dict' object has no attribute 'item'